/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #F8C8DC;
  --matr-navbar-bg-rgb: 248, 200, 220;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  background-color: #C4E8F6;
  top: 0 !important;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#carousel {
  max-width: 600px;
  max-height: 400px;
  margin: auto;
  overflow: hidden;
}

.carousel-image {
  max-width: 600px;
  max-height: 400px;
}

.landing-blurb1 {
  padding-top: 90px;
  text-align: left;
}

.landing-blurb2 {
  padding-top: 90px;
  text-align: left;
}

body > .skiptranslate {
  display: none;
}

.VIpgJd-ZVi9od-aZ2wEe-OiiCO {
  display: none;
}

.VIpgJd-ZVi9od-aZ2wEe-OiiCO-ti6hGc {
  display: none;
}
.IpgJd-ZVi9od-aZ2wEe-wOHMyf {
  display: none;
}